body {
  font: 14px helvetica;
  color: black;
  background-color: #333;
}

.land {
  fill: #d3d3d3;
  stroke: #333;
  fill-opacity: .3;
}




.viewer {
	position: absolute;
	left: 900px;
	top: 100px;
	border: none;
	background: #555;
  fill-opacity: .5;
}

.clickoff {
	position: absolute;
	left: 870px;
	top: 100px;
	height: 30px;
	width: 30px;
}



.textdiv { /* text in the boxes */
  display: inline-block;
font-size: medium;
text-align: center;
width: 50%;
vertical-align: middle;
font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}

h3{
  color: #fff;
  cursor: pointer;
}


#showHide {
  position:absolute;
  top:60%;
  width: 100%;
  background-color: #555;
}

#accordion {
}

.barWrap{
  position: absolute;
  top: 66%;
  margin-left: 16%;
  margin-right: 16%;
  width: 100%;
}
.filterSelector{
  position: absolute;
  width: 15%;
  height: 20%;
  left: -15%;
  background-color: #555;
  height:100%;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
}
.node {
  fill: #ddd;
  stroke: #fff;
}