body {
  font: 14px helvetica;
  color: black;
  background-color: #333;
}

.land {
  fill: #fff;
  stroke: #ccc;
}

.state {
  fill: #fff;
  stroke: none;
}

.counties {
  stroke: none;
  fill: #fff;
}

.viewer {
	position: absolute;
	left: 800px;
	top: 300px;
	border: none;
	background: #fff;
}

.clickoff {
	position: absolute;
	left: 770px;
	top: 300px;
	height: 30px;
	width: 30px;
}



.barWrap{
  position:absolute;
  left: 600px;
  top: 600px;
}


#chart{
	position: absolute;
	left: 0px;
	top: 600px;
}

.row {
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #f0f0f0;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #f0f0f0;
  font-size: 8px;
}

.brush .extent {
  stroke: #f0f0f0;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bar {
  fill: #5EB4E3;
}
.selected {
  fill: #78C656;
}



.infolabel {
  position: absolute;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #000;
  border: solid thin #fff;
  padding: 5px;
}

.infolabel h1 {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  line-height: 1em;
}

.infolabel b {
  float: left;
}

.labelname {
  display: inline-block;
  float: right;
  margin: -25px 0px 0px 40px;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
}


.label {
  font: 10px sans-serif;
  text-anchor: middle;
}
.node {
  fill: #ddd;
  stroke: #fff;
}