.land {
  fill: #fff;
  stroke: #ccc;
}

.state {
  fill: #fff;
  stroke: none;
}

.viewer {
	border: black 1px;
	position: absolute;
	left: 800px;
	top: 300px;
}

.clickoff {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 500px;
	width: 1000px;
}