@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}   

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #333;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

a{
  color: red;
}

.title{
  color: yellow;
  font-size: 40px;
  position: absolute;
  left: 105vh;
  top: 5vh;
  height: 5%;
  width: 10%;
  text-shadow: 2px black;
}

.exporter{
    fill: #606060;
  stroke:#636363;
  stroke-width: 1px;
  fill-opacity: .7;
  cursor: pointer;
}
.exporter:hover {
  fill: orange;
}
.borders{
  fill: none;
  stroke: black;
  stroke-width: 2px
}

.introTitle{
  color: yellow;
}
.introButton{
  width:100%;
  height:10%;
  background: #333;
  opacity: .3;
  text-shadow:none;
  border:none;
  box-shadow:none;
  color: white;

}
.introButton:hover{
  border: solid yellow 2px;
  cursor: pointer;
}

.feature {
  fill: #b1bcc5;
  stroke:#838383;
  stroke-width: 1px;
  fill-opacity: .4;
  cursor: pointer;
}

.feature:hover {
  fill: orange;
}

.mapDisplay{
  position:absolute;
  left: 44vh;
  top: 64vh;
  height: 5%;
  width: 100%; 
  color:white;
  font-family: 'Roboto', sans-serif;
}



#importer{
  stroke: red;
  stroke-width:.5px;
  cursor: pointer;
}

#exporter{
  stroke: red;
  stroke-width:.5px;
  cursor: pointer;
}


.aboutFooter{
  cursor: pointer;
  color: yellow;
}

.aboutText{
  color:white;
  font-family: 'Roboto', sans-serif;
}
.about{
  position: absolute;
  left: 10vh;
  top: 5vh;
  height: 75%;
  width: 90%;
  border: solid 1px yellow;
  background-color: #333;
  ;
}

.exitAbout{
  cursor: pointer;
}

.data{
  text-align: right;
}
.viewer {
	position: absolute;
	left: 105vh;
	top: 13vh;
  height: 55%;
  width: 35%;
	border: none;
}
.importerName{
  font-size: 24px;
  color: #e8e8e8;
}

.viewerCategory{
  font-size: 16px;
  color: #c2c2c2;
}

.percentLabel{
  font-size: 11px;
  fill: white
}

.viewerData{
  font-size: 12px;
  color: #e8e8e8;
}

.povertyChart{
  position:absolute;
  left:50%;
  top: 12%;
  width: 100%;
  height: 100%;
  border: none;
}

.raceLabel{
  float:left;
  width:50%;
  text-align: center;
  font-size: 16px;
  color: #c2c2c2;
}
.povLabel{
  float:left;
  text-align: center;
    font-size: 16px;
  color: #c2c2c2;
}

.Manifests{
  text-align: left;
    font-size: 16px;
  color: #c2c2c2;
  border: none;
  width:50%;
  height: 30%;
}


.textdiv { /* text in the boxes */
  display: inline-block;
font-size: medium;
text-align: center;
width: 50%;
vertical-align: middle;
font-family: 'Roboto', sans-serif; 
color:white;
}

h3{
  color: red;
  cursor: pointer;
}

.footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: #555;
  color: yellow;
}

.intro{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
  width:200px;
}

/*this is the class for all of the filter buttons*/
.filtering{
  width: 80%;
  text-align: center;
  font-size: small;
  vertical-align: middle;
  background-color: #555;
  border: solid 1px black;
}

.filtering:hover {
  cursor: pointer;
}


.something{
  width: 85%;
  text-align: center;
  vertical-align: middle;
  background-color: #555;
  border: solid 1px black;
}



.greyedOut{
  height: 100vh;
  width: 100vw;
}

.barWrap{
  position: absolute;
  top: 70%;
  margin-left: 16%;
  margin-right: 16%;
  width: 100%;
}
.filterSelector{
  position: absolute;
  width: 20%;
  height: 25%;
  left: -15%;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
  color:white;

}

.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}

.viewerText{
  position: absolute;
  top:0%;
  left:0%;
  width:80%;
  height:80%;
  margin:10px;
}

.introBox{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:35%;
}

.zoomBox{
  stroke: black;
  stroke-width: 3px;
  fill: none;
}

.zoomBox:hover{
  cursor:pointer;
}

.background {
    fill: transparent;
}

.background:hover{
  cursor: pointer;

}

.box{
  background-color: red;
  border-width: 1px;
  border-style: solid;
  border-color:yellow;
}
.d3-tip {
  line-height: 1;
  font-weight: lighter;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color:yellow;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.axis text{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
