@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}   



body {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: #333;
}

.importer{
  fill: #f0f0f0;
  stroke:#636363;
  stroke-width: 1px;
  fill-opacity: .7;
}
.exporter{
  fill: #deebf7;
  stroke:#bdbdbd;
  stroke-width: 2px;
  fill-opacity: .4;
}

.introTitle{
  color: orange;
}
.introButton{
  width:100%;
  height:10%;
  background: #333;
  opacity: .3;
  text-shadow:none;
  border:none;
  box-shadow:none;
  color: white;
}
.introButton:hover{
  border: solid orange 2px;
}

.viewer {
	position: absolute;
	left: 100vh;
	top: 20vh;
  height: 40%;
  width: 40%;
	border: none;
	background: #555;
  fill-opacity: .5;
}

.povertyChart{
  position:absolute;
  left:50%;
  margin: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.raceLabel{
  float:right;
  width:50%;
  color: white;
  text-align: center;
}
.povLabel{
  float:left;
  width:50%;
  color: white;
  text-align: center;
}

.textdiv { /* text in the boxes */
  display: inline-block;
font-size: medium;
text-align: center;
width: 50%;
vertical-align: middle;
font-family: "Open Sans", Helvetica, Arial, sans-serif; 
color:white;
}

h3{
  color: red;
  cursor: pointer;
}

.footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: #555;
  color: orange;
}

.intro{
  font-size: small;
  font-family: arial;
  color: white;
}

/*this is the class for all of the filter buttons*/
.filtering{
  width: 85%;
  text-align: center;
  vertical-align: middle;
background-color: #555;
border: solid 1px black;
}

#Site{
}

.something{
  width: 85%;
  text-align: center;
  vertical-align: middle;
  background-color: #555;
  border: solid 1px black;
}

#showHide {
  position:absolute;
  top:67%;
  width: 100%;
  background-color: #555;
  color: orange;
}

#showHide:hover {
  cursor: pointer;
}



.greyedOut{
  height: 100vh;
  width: 100vw;
}

.barWrap{
  position: absolute;
  top: 70%;
  margin-left: 16%;
  margin-right: 16%;
  width: 100%;
}
.filterSelector{
  position: absolute;
  width: 14%;
  height: 20%;
  left: -16%;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
  color:white;
}
.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}

.viewerText{
  position: absolute;
  top:0%;
  left:0%;
  width:50%;
  height:100%;
  margin:10px;
}

.introBox{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:35%;
}


.d3-tip {
  line-height: 1;
  font-weight: lighter;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color:yellow;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



.axis text{
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}