@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}   



body {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: #333;
}

.land {
  fill: #e5e5e5;
  stroke: #333;
  fill-opacity: .1;
}

.introButton{
  width:100%;
  height:10%;
  background: #333;
  opacity: .3;
  text-shadow:none;
  border:none;
  box-shadow:none;
  color: white;
}
.introButton:hover{
  border: solid yellow 1px;
}

.viewer {
	position: absolute;
	left: 100vh;
	top: 20vh;
  height: 40%;
  width: 40%;
	border: none;
	background: #555;
  fill-opacity: .5;
}


.raceLabel{
  float:right;
  width:40%;
  color: white;
  text-align: center;
}
.povLabel{
  float:left;
  width:40%;
  color: white;
  text-align: center;
}

.textdiv { /* text in the boxes */
  display: inline-block;
font-size: medium;
text-align: center;
width: 50%;
vertical-align: middle;
font-family: "Open Sans", Helvetica, Arial, sans-serif; 
color:white;
}

h3{
  color: red;
  cursor: pointer;
}

.footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: #555;
}

.intro{
  font-size: small;
  font-family: arial;
  color: white;
}

.filtering{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #444; 
  border: solid black 1px;
  height: 50px;
}
#showHide {
  position:absolute;
  top:64%;
  width: 100%;
  background-color: #555;
}

.greyedOut{
  height: 100vh;
  width: 100vw;
}

.barWrap{
  position: absolute;
  top: 66%;
  margin-left: 16%;
  margin-right: 16%;
  width: 100%;
}
.filterSelector{
  position: absolute;
  width: 15%;
  height: 20%;
  left: -15%;
  background-color: #555;
  height:100%;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
  color:white;
}
.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}

.viewerText{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:40%;
}


.d3-tip {
  line-height: 1;
  font-weight: lighter;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color:yellow;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



.axis text{
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}