@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}   



body {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: #333;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

a{
  color: red;
}

.title{
  color: orange;
  font-size: 32px;
  position: absolute;
  left: 122vh;
  top: 5vh;
  height: 5%;
  width: 10%;
  border: none;
}


.importer{
  fill: #b1bcc5;
  stroke:#838383;
  stroke-width: 1px;
  fill-opacity: .4;
}
.exporter{
    fill: #606060;
  stroke:#636363;
  stroke-width: 1px;
  fill-opacity: .7;

}

.borders{
  fill: none;
  stroke: black;
  stroke-width: 2px
}

.introTitle{
  color: orange;
}
.introButton{
  width:100%;
  height:10%;
  background: #333;
  opacity: .3;
  text-shadow:none;
  border:none;
  box-shadow:none;
  color: white;

}
.introButton:hover{
  border: solid orange 2px;
  cursor: pointer;
}

#importer{
  stroke: red;
  stroke-width:.5px;
  cursor: pointer;
}

#exporter{
  stroke: red;
  stroke-width:.5px;
  cursor: pointer;
}


.aboutFooter{
  cursor: pointer;
  color: orange;
}

.aboutText{
  color:white;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.about{
  position: absolute;
  left: 10vh;
  top: 5vh;
  height: 75%;
  width: 90%;
  border: solid 1px yellow;
  background-color: #333;

}

.exitAbout{
  cursor: pointer;
}

.data{
  text-align: right;
}
.viewer {
	position: absolute;
	left: 100vh;
	top: 13vh;
  height: 40%;
  width: 40%;
	border: none;
}

.importerName{
  font-size: 25px;
  color: #e8e8e8;
}

.viewerCategory{
  font-size: 18px;
  color: #c2c2c2;
}

.viewerData{
  font-size: 14px;
  color: #e8e8e8;
}

.povertyChart{
  position:absolute;
  left:0%;
  top: 100%;
  margin: 0px;
}

.raceLabel{
  float:left;
  width:50%;
  text-align: center;
  font-size: 18px;
  color: #c2c2c2;
}
.povLabel{
  float:left;
  text-align: center;
    font-size: 18px;
  color: #c2c2c2;
}

.textdiv { /* text in the boxes */
  display: inline-block;
font-size: medium;
text-align: center;
width: 50%;
vertical-align: middle;
font-family: "Open Sans", Helvetica, Arial, sans-serif; 
color:white;
}

h3{
  color: red;
  cursor: pointer;
}

.footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: #555;
  color: orange;
}

.intro{
  font-size: small;
  font-family: arial;
  color: white;
  width:200px;
}

/*this is the class for all of the filter buttons*/
.filtering{
  width: 85%;
  text-align: center;
  vertical-align: middle;
background-color: #555;
border: solid 1px black;
}


.something{
  width: 85%;
  text-align: center;
  vertical-align: middle;
  background-color: #555;
  border: solid 1px black;
}

#showHide {
  position:absolute;
  top:67%;
  width: 100%;
  background-color: #555;
  color: orange;
}

#showHide:hover {
  cursor: pointer;
}



.greyedOut{
  height: 100vh;
  width: 100vw;
}

.barWrap{
  position: absolute;
  top: 70%;
  margin-left: 16%;
  margin-right: 16%;
  width: 100%;
}
.filterSelector{
  position: absolute;
  width: 14%;
  height: 20%;
  left: -16%;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
  color:white;
}
.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}

.viewerText{
  position: absolute;
  top:0%;
  left:0%;
  width:80%;
  height:100%;
  margin:10px;
}

.introBox{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:35%;
}

.zoomBox{
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 5,5;
  fill: none;
}

.background {
    fill: transparent;
}

.background:hover{
  cursor: pointer;
  fill: #d3d3d3;
  fill-opacity: .2;
}

.box{
  background-color: red;
  border-width: 1px;
  border-style: solid;
  border-color:yellow;
}
.d3-tip {
  line-height: 1;
  font-weight: lighter;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color:yellow;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



.axis text{
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}