body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

a{
  color: red;
  font-size: 10px;
}

#showHide{
  position: absolute;
  bottom: 220px;
  right: 15px;
}
#showHide:hover{
  cursor: pointer;
}
.barWrap{
  background-color: #252525;
  position: absolute;
  bottom: 15px;  
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.filterSelector{
  position: absolute;
}
/*this is the class for all of the filter buttons*/
label {
  color: white;
  font-size: 10px;
}
.filtering{
  color: white;
  width: 80%;
  text-align: center;
  font-size: 10px;
}
.filtering:hover {
  cursor: pointer;
}
.mapDisplay{
  position: absolute;
  width: 75%;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
.descriptions{
  position:absolute;
}



.footer{
  position: absolute;
  bottom: 0%;
  height: 15px;
  width: 100%;
  background-color: #252525;
  color: yellow;
  font-size:12px;
    border-radius: 5px;
  padding: 5px;
}
.aboutFooter{
  position:absolute;
  left: 5px;
  cursor: pointer; 
}
.data{
  position:absolute;
  left: 100px;
}



.title{
  color: yellow;
  font-size: 20px;
  position: absolute;
  background: #252525;
  border-radius: 5px;
  padding: 5px;
}
.subtitle{
  color: #c2c2c2;
  font-size:12px;
  position: absolute;
  width: 95%;
  background: #252525;
}




.exporter{
    fill: #cccccc;
  stroke:white;
    stroke-width: .5px;
  fill-opacity: 1;
  cursor: pointer;
}
.exporter:hover {
  fill: #dddddd;
}

.borders{
  fill: none;
  stroke: black;
  stroke-width: 1px
}


.introTitle{
  color: yellow;
}
.introButton{
  width:100%;
  height:10%;
  background: #252525;
  opacity: .3;
  text-shadow:none;
  border: none;
  box-shadow:none;
  color: white;
}
.introButton:hover{
  border: solid yellow 2px;
  cursor: pointer;
}



.feature {
  fill: #cccccc;
  stroke: white;
  stroke-width: .5px;
  cursor: pointer;
}
.feature:hover {
  fill: #dddddd;
}




#importer{
  /*stroke: red;
  stroke-width:.5px;*/
  cursor: pointer;
}
#exporter{
  /*stroke: red;
  stroke-width:.5px;*/
  cursor: pointer;
}





/*the text that comes up in the about window*/
.about{
  position: absolute;
  left: 10vh;
  top: 5vh;
  height: 75%;
  width: 90%;
  border: solid 1px yellow;
  background-color: #252525;
  ;
}
.aboutText{
  color:white;
  font-family: 'Roboto', sans-serif;
}
.exitAbout{
  cursor: pointer;
}



#resetter{
  position: absolute;
  top: 20px;
  right: 20px
}
#resetter:hover{
  cursor:pointer;
}



#viewShowHide{
  position: absolute;
  top: 140px;
  left: 0px
}
#viewShowHide:hover{
  cursor:pointer;
}
.viewer {
  position:absolute;
  background-color: #252525;
  border-radius: 5px;
}
.intro{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.viewerText{
  margin: 5px;
}
.importerName{
  font-size: 12px;
  color: #e8e8e8;
}
.viewerCategory{
  font-size: 10px;
  color: #c2c2c2;
  border: none;
}
.percentLabel{
  font-size: 8px;
  text-align: bottom;
  fill: white
}
.viewerData{
  font-size: 10px;
  color: #e8e8e8;
}
.povertyChart{
  border: none;
}
.yearChart{
  position:absolute;
  border: none;
}
.yearData{
  position:absolute;
  border: none;
}
.raceLabel{
  font-size: 12px;
  color: #c2c2c2;
}
.povLabel{
  font-size: 12px;
  color: #c2c2c2;
}
/*.Manifests{
  text-align: left;
    font-size: 16px;
  color: #c2c2c2;
  border: none;
  width:50%;
  height: 30%;
}*/





.textdiv { /* text in the boxes */
display: inline-block;
font-size: medium;
text-align: center;
width: 50%;
vertical-align: middle;
font-family: 'Roboto', sans-serif; 
color:white;
}

h3{
  color: red;
  cursor: pointer;
}







.something{
  width: 85%;
  text-align: center;
  vertical-align: middle;
  background-color: #252525;
  border: solid 1px black;
}

.greyedOut{
  height: 100vh;
  width: 100vw;
}


.label {
  font: 10px sans-serif;
  text-anchor: middle;
  color:white;

}

.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}


.introBox{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:35%;
}

.zoomBox{
  stroke: black;
  stroke-width: 3px;
  fill: none;
}

.zoomBox:hover{
  cursor:pointer;
}

.background {
    fill: transparent;
}

.background:hover{
  cursor: pointer;

}


.d3-tip {
  font-size: 10px;
  line-height: 1;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



.axis text{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  fill: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

#tags {
    border-radius: 0px;
    border: 1px solid black;
    height: 0 0 30px;
}

.ui-autocomplete {
    background: #252525;
    min-height: 300px;
    width: 150px;
    font-size:10px;
    padding: 1em 1em;
}
ul.ui-autocomplete {
    list-style: none;
}

.ui-state-focus
{
    color:White;
    background:#cccccc;
    outline:none;
    cursor:  pointer;
}
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }

